@using FinalProjectAnimalShop.Models
@model IEnumerable<Animal>

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>
<a href="@Url.Action("Create")" class="btn btn-success mb-3">Add New Animal</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var animal in Model)
        {
            <tr>
                <td>@animal.Name</td>
                <td>@animal.Category!.Name</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = animal.AnimalId })" class="btn btn-warning btn-sm">Edit</a>
                    <a href="@Url.Action("Delete", new { id = animal.AnimalId })" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
